
body, html {
height:100%;
}

#container {
 position: absolute;
 height: 95%;
 width: 100%;
 background-color: #FFFFFF;
}


#wrapHeader {
 display: table;
 height: 5%;
 width: 100%;
 top: 0px;
 left: 0px;
 background-color: #90A0E0; /*#A0B0F0*/
}

#header {
 height: 5%;
 display: table-cell;
 vertical-align: middle;
 /* background-color: #50A0E0; */
}


#wrapTree {
 position: absolute;
 height: 80%;
 width: 30%;
}

#wrapTags {
 position: absolute;
 top: 80%;
 height: 20%;
 width: 30%;
}

#wrapNotes {
 position: absolute;
 left: 30%;
 height: 33%;
 width: 70%;
}

#wrapText {
 position: absolute;
 left: 30%;
 top: 33%;
 height: 67%;
 width: 70%;
 background-color: #FFFFFF;
}

#tree {
 height: 100%;
 width: 100%;
 background-color: #FFFFFF; /* #FBF0DB */
 overflow-y:scroll;
}

#tags {
 height: 100%;
 width: 100%;
 background-color: #FFFFFF; /* #FBF0DB */
 overflow-y:scroll;
}

#notes {
 position: absolute;
 top: 1px;
 left: 2px;
 right: 0px;
 bottom: 1px;
 background-color: #FFFFFF; /* #FBF0AB */
 overflow-y:scroll;
}

#textPanel {
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 height: 2px;
 background-color: #90A0E0;
}

#tagsPanel {
 position: absolute;
 top: 0px;
 left: 0px;
 right: 0px;
 height: 2px;
 background-color: #90A0E0;
}

#text {
 position: absolute;
 top: 3px;
 left: 2px;
 right: 0px;
 bottom: 0px;
 background-color: #FFFFFF; /* #FBF05B #EFE8E8*/
 overflow-y:scroll;
}


#text p, #text li {white-space: pre-wrap;}
#text p {min-height: 1em;}

.tree a 
{
 color: #000000;
 text-decoration: none;
}

.text_font_big_head
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 13pt;        
        font-style: normal;        
        line-height: normal;        
        font-weight: bold;        
        /*vertical-align: middle;*/
        color: black;
}

.text_font_normal
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10pt;        
        font-style: normal;        
        line-height: normal;        
        vertical-align: middle;
        color: black;
}

.text_font_tree_with_record
{
 color: #000000;
}

.text_font_tree_not_record
{
 color: #707070;
}

.text_font_tree_select
{
 background-color: #A0B0F0;
 text-decoration: none;
}
