{% extends "catalog/base_generic.html" %}

{% block content %}
  <h1>Title: {{ author.title }}</h1>

  <p><strong>ФИО:</strong> <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.middle_name }} {{ author.last_name }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Дата рождения:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Дата смерти:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Книги</h4>

    {% for book in author.book_set.all %}
    <hr>
    <p><strong><a href="{{ book.get_absolute_url }}"> {{book.title}} </a></strong></p>
    <p> {{book.summary}}</p>
    {% endfor %}
  </div>
{% endblock %}
